In [1]:
import os
from os.path import join
src_path = os.path.abspath(os.path.join("..", "language-modeling"))
%cd $src_path

/media/pips/Data/Projects/NLU-UniTN-2022/project/language-modeling

In [3]:
from cli import evaluate, load_config

In [3]:
CSV_PATH = join("results", "weights")
NAMES = os.listdir(CSV_PATH)
EXPERIMENTS = [join(CSV_PATH, exp) for exp in NAMES]

In [4]:
config_file_template = "{}.yaml"

join_path = lambda filename: join("..", "language-modeling", "configs", filename)
get_config_filename = lambda idx: EXPERIMENTS[idx].split("/")[-1].split(".")[0]
prepare_config = lambda idx: load_config(join_path(config_file_template.format(get_config_filename(idx))))

In [5]:
for i, n in enumerate(NAMES):
    print(f"{i}: {n}")

0: baseline.ckpt
1: baseline_dropout.ckpt
2: baseline_dropout_adam.ckpt
3: merity_ad.ckpt
4: merity_ad_nohh.ckpt
5: merity_ad_nohh_1024.ckpt
6: merity_ad_nohh_1024_adam.ckpt
7: merity_ad_nohh_1024_tbptt.ckpt
8: merity_ad_nohh_adam.ckpt
9: merity_ad_nohh_tbptt.ckpt
10: merity_base.ckpt
11: merity_ed.ckpt
12: merity_eld.ckpt
13: merity_ld.ckpt
14: merity_wd.ckpt
15: merity_wd_nohh.ckpt
16: merity_wd_nolstm.ckpt

# Baseline

In [6]:
display(evaluate(prepare_config(0), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:22<00:00, 152.58it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:22<00:00, 166.73it/s]

                 Valid        Test
Loss          5.243850    5.213792
Perplexity  189.397823  183.789601

In [7]:
display(evaluate(prepare_config(1), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:21<00:00, 157.38it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:26<00:00, 142.92it/s]

                 Valid        Test
Loss          4.754602    4.731301
Perplexity  116.117465  113.443079

In [8]:
display(evaluate(prepare_config(2), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:25<00:00, 133.57it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:27<00:00, 134.96it/s]

                 Valid        Test
Loss          4.753842    4.713488
Perplexity  116.029170  111.440167

# Merity

In [9]:
display(evaluate(prepare_config(11), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:39<00:00, 84.34it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:44<00:00, 84.13it/s]

                 Valid        Test
Loss          4.658924    4.637053
Perplexity  105.522520  103.239671

In [10]:
display(evaluate(prepare_config(13), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:39<00:00, 84.84it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:44<00:00, 83.66it/s]

                 Valid        Test
Loss          4.655051    4.636009
Perplexity  105.114569  103.131964

In [11]:
display(evaluate(prepare_config(14), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:40<00:00, 83.27it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:45<00:00, 82.33it/s]

                 Valid       Test
Loss          4.629246   4.586152
Perplexity  102.436755  98.116200

In [12]:
display(evaluate(prepare_config(15), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:36<00:00, 91.48it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:39<00:00, 94.81it/s]

                 Valid       Test
Loss          4.625597   4.584802
Perplexity  102.063652  97.983762

In [13]:
display(evaluate(prepare_config(16), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:35<00:00, 95.73it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:39<00:00, 94.72it/s]

                 Valid        Test
Loss          4.647816    4.611641
Perplexity  104.356843  100.649207

In [14]:
display(evaluate(prepare_config(12), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:38<00:00, 86.62it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:43<00:00, 87.05it/s]

                Valid       Test
Loss         4.487026   4.458273
Perplexity  88.856837  86.338312

In [15]:
display(evaluate(prepare_config(3), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:36<00:00, 91.26it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:41<00:00, 90.18it/s]

                Valid       Test
Loss         4.557724   4.514110
Perplexity  95.366135  91.296245

In [16]:
display(evaluate(prepare_config(4), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:36<00:00, 92.08it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:41<00:00, 89.89it/s]

                Valid       Test
Loss         4.501446   4.471474
Perplexity  90.147365  87.485608

In [17]:
display(evaluate(prepare_config(9), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [00:35<00:00, 95.20it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [00:41<00:00, 91.60it/s]

                Valid       Test
Loss         4.504034   4.471281
Perplexity  90.380998  87.468663

In [18]:
display(evaluate(prepare_config(5), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [02:17<00:00, 24.54it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [02:35<00:00, 24.23it/s]

                Valid       Test
Loss         4.452711   4.415715
Perplexity  85.859435  82.741018

In [19]:
display(evaluate(prepare_config(7), dump_outputs=False))

Validation DataLoader 0: 100%|██████████| 3370/3370 [02:16<00:00, 24.67it/s]
Testing DataLoader 0: 100%|██████████| 3761/3761 [02:31<00:00, 24.78it/s]

                Valid       Test
Loss         4.470595   4.421082
Perplexity  87.408744  83.186245